swagger: '2.0'
info:
  description: Redwolf Proxy Gateway
  version: '1.3.0'
  title: redwolf-proxy-gateway
host: "prod.redwolf.external.plat.vizio.com"
schemes:
  - https
paths:
  /challenge:
    get:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
    options:
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Access-Control-Allow-Headers:
              type: string
  /consent-management:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: api-key
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: api-version
          in: header
          required: false
          type: string
        - name: Consent-Format
          in: header
          required: false
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-user: []

  /consent-management/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: api-key
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: api-version
          in: header
          required: false
          type: string
        - name: Consent-Format
          in: header
          required: false
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-user: []
  /coupons-api/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-partner: []
  /myvizio-api/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-partner: []
  /partner-svc/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-partner: []
  /pay-data-analytics-pipeline/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-user: []
  /pii/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-user: []
  /pin-svc/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-user: []
  /robots.txt:
    get:
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseTemplates:
              text/plain: |
                User-agent: *
                Disallow: /
        requestTemplates:
          application/json: '{"statusCode":200}'
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
        type: mock
  /subscriptions-api/{proxy}:
    options:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/Empty'
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
    x-amazon-apigateway-any-method:
      consumes:
        - application/json
      parameters:
        - name: sentry-trace
          in: header
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: platform
          in: header
          required: false
          type: string
        - name: sdk-version
          in: header
          required: false
          type: string
        - name: User-Agent
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Language
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Accept-Language
          in: header
          required: false
          type: string
        - name: proxy
          in: path
          required: true
          type: string
        - name: X-Forwarded-For
          in: header
          required: false
          type: string
        - name: Origin
          in: header
          required: false
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '202':
          description: 202 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Content-Disposition:
              type: string
            Connection:
              type: string
            Content-Language:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Content-Type:
              type: string
      security:
        - redwolf-proxy-gateway-authorizer-partner: []
securityDefinitions:
  redwolf-proxy-gateway-authorizer-user:
    type: apiKey
    name: Authorization
    in: header
    x-amazon-apigateway-authtype: custom
    x-amazon-apigateway-authorizer:
      authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:258062559651:function:redwolf-proxy-gateway-authorizer-user-ts:23/invocations
      authorizerResultTtlInSeconds: 300
      type: token
  redwolf-proxy-gateway-authorizer-partner:
    type: apiKey
    name: Unused
    in: header
    x-amazon-apigateway-authtype: custom
    x-amazon-apigateway-authorizer:
      authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:258062559651:function:redwolf-proxy-gateway-authorizer-partner-ts:23/invocations
      authorizerResultTtlInSeconds: 300
      identitySource: method.request.header.Partner-Message, method.request.header.Partner-Signature, method.request.header.Partner-Key-Id
      type: request
definitions:
  Empty:
    type: object
    title: Empty Schema
x-amazon-apigateway-gateway-responses:
  WAF_FILTERED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  UNAUTHORIZED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  API_CONFIGURATION_ERROR:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  RESOURCE_NOT_FOUND:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  INVALID_SIGNATURE:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  MISSING_AUTHENTICATION_TOKEN:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  QUOTA_EXCEEDED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  ACCESS_DENIED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  BAD_REQUEST_PARAMETERS:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  INVALID_API_KEY:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  UNSUPPORTED_MEDIA_TYPE:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  BAD_REQUEST_BODY:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  DEFAULT_5XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  INTEGRATION_TIMEOUT:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  REQUEST_TOO_LARGE:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  INTEGRATION_FAILURE:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  AUTHORIZER_CONFIGURATION_ERROR:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  AUTHORIZER_FAILURE:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  THROTTLED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  DEFAULT_4XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
  EXPIRED_TOKEN:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
      gatewayresponse.header.Access-Control-Allow-Headers: '''*'''
